.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: center;
  align-items: center;

  & .modal{
    max-width: 30rem;
    width: 100%;
    min-height: 5rem;
    height: auto;
    padding: 2.5rem;
    background-color: var(--bg-tertiary);
    border-radius: 0.75rem;
    
    & p{
      margin-bottom: 1.75rem;
    }
    & button{
      margin-left: 75%;
      margin-top: 1.5rem;
    }
  }
}

@media (width <= 40em){
  .modal-container{
    padding-inline: var(--px);
  }
  
}