button{
  max-width: 13.6rem;
  height: 3rem;
  padding: auto;
  padding-inline: 0.75rem;

  background-color: var(--bg-brand);
  font: var(--lb-large);
  border-radius: 0.5rem ;
  text-transform: uppercase;

  border: none;
  
  &:hover{
    cursor: pointer;
    background-color: var(--bg-highlight);
  }
}

.new-schedule{
  position: fixed;
  top: 90%;
  left: 80%;
  box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);

}


@media (width <= 40em){
 
  footer{
    width: 100%;
    height: 5.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-tertiary);

    & .new-schedule{
      position: static;
      top: 0;
      left: 0;
    }
  }
  
}